<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmpDent</title>
</head>
<body>
    <div style="display: flex; justify-content: space-around;">
        <h1><a href="/" style="text-decoration: none;">AmpDent</a></h1>
        <h1><a href="/questions/" style="text-decoration: none;">Search</a></h1>
        <h1><a href="/questions/create/" style="text-decoration: none;">Create</a></h1>
    </div>

    <div>
        {% block content %}
        loading
        {% endblock content %}
    </div>
</body>
</html>